extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 YelpBark
          small &nbsp;Find places to bring your four legged friend!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Fremont Brewery
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
            span.badge.pull-right.badge-default 100m
          p.address 125 High Street, Reading, RG6 1PS
          p
            span.label.label-warning Indoor
            | &nbsp;
            span.label.label-warning Outdoor
            | &nbsp;
            span.label.label-warning Water Bowl
            | &nbsp;
            span.label.label-warning Treats
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead Looking for a place to bring your four legged friend? We'll share with you the best places to go. Help others by sharing your opinion as well!
